body > div.fade.modal.show{
    background-color: transparent;
}
.modal-dialog{
    margin: 0rem;
    padding: 0rem;
}
#user-profile-lg-modal-wrapper{
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-left: auto;
}
.modal-wrapper .modal-content{
    border: none;
    height: 100%;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
}
.modal-wrapper .modal-header{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    border: none;
}
.modal-wrapper .modal-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding: 0rem;
    margin: 0rem;
}
